.content_container_footer_styled {
    background: #FAFAFA;
}

.footer_kwd_comu {
    padding: 2.375rem 0 0;

    .footer_kwd {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding-bottom: 50px;

        border-bottom: 1px solid #cdcdcd;

        .content_principal_institutional {
            flex: 1;

            img {
                width: 100%;
                max-width: 200px;
            }

            p {
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 0.75rem;
                letter-spacing: 0.62px;
                color: #464646;
                margin-top: 20px;
                margin-left: 8px;
            }
        }

        .content_menu_institutional {
            flex-grow: 1;

            .institutional_menu_footer {
                display: flex;
                gap: 180px;
                justify-content: center;
                margin: 0;

                list-style: none;

                li {
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 0.875rem;
                    margin-top: 20px;

                    &::before {
                        content: ">";
                        color: #FFB93F;
                        margin-right: 8px;
                    }

                    a {
                        color: #464646;
                        text-decoration: unset;
                        transition: all .3s;

                        &:hover {
                            color: #FFB93F;
                            transition: all .3;
                        }
                    }

                }
            }
        }

        .content_location_institutional {
            flex: 1;

            .location_content_kwd {
                display: flex;
                gap: 16px;

                &::before {
                    content: url(../../../assets/icons/icon-location.svg);
                    display: block;
                }

                p {
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 0.875rem;
                    color: #464646;

                    span {
                        font-size: 0.6875rem;
                        color: #9b9b9b;
                        margin-left: 30px;
                    }
                }
            }

            .telephone_content_kwd {
                display: flex;
                gap: 16px;

                &::before {
                    content: url(../../../assets/icons/icon-tel.svg);
                    display: block;
                }

                a{
                  text-decoration: unset;
                  color: #464646;
                }

                p {
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 0.875rem;
                    color: #464646;
                }
            }
        }
    }

    .footer_kwd_mob {
        border-bottom: 1px solid #cdcdcd;

        .content_principal_institutional_mob {
            text-align: center;

            img {
                width: 100%;
                max-width: 250px;
            }

            p {
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 0.75rem;
                letter-spacing: 0.72px;
                color: #464646;
                margin-top: 20px;

                text-align: justify;
            }
        }

        .content_menu_institutional_mob {

            .institutional_menu_footer_mob {
                display: flex;
                gap: 100px;
                justify-content: center;
                margin: 0;
                margin-bottom: 4rem;
                padding: 0 21px;

                list-style: none;

                li {
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 0.9375rem;
                    margin-top: 20px;

                    &::before {
                        content: ">";
                        color: #FFB93F;
                        margin-right: 8px;
                    }

                    a {
                        color: #464646;
                        text-decoration: unset;
                        transition: all .3s;

                        &:hover {
                            color: #FFB93F;
                            transition: all .3;
                        }
                    }
                }
            }
        }

        .content_location_institutional_mob {
            .location_content_kwd_mob {
                display: flex;
                gap: 16px;
                margin-left: 1rem;

                &::before {
                    content: url(../../../assets/icons/icon-location.svg);
                    display: block;
                }

                p {
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 0.875rem;
                    color: #464646;

                    span {
                        font-size: 0.6875rem;
                        color: #9b9b9b;
                    }
                }
            }

            .telephone_content_kwd_mob {
                display: flex;
                gap: 16px;
                margin-left: 1rem;

                &::before {
                    content: url(../../../assets/icons/icon-tel.svg);
                    display: block;
                }

                a{
                  text-decoration: unset;
                  color: #464646;
                }

                p {
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 0.875rem;
                    color: #464646;
                }
            }
        }
    }

    .copy_txt {
        text-align: center;
        padding: 20px 0;
        color: #464646;
        font-size: 0.875rem;
    }
}

.institutional_medias {
    display: flex;
    gap: 16px;

    @media (max-width: 768px) {
        justify-content: center;
        margin: 28px 0;
    }

    img {
        width: 45px;
        height: 45px;
    }
}

.footer_copy_content {
    // background: #383838;

    .development_footer {
        &::before {
            content: "Powered by";
            display: block;
            font-size: .65rem;
            text-decoration: none;
            color: #464646;

            @media (max-width: 768px) {
                margin-bottom: 20px;
            }
        }

        .powered_images {
            display: flex;
            align-items: center;
            justify-content: space-around;

            margin-bottom: 20px;

            img {
                max-width: 100%;
                height: 40px;
                filter: contrast(0.7);
            }

            .mesch_company {
                height: 30px;
            }
        }
    }
}
