.kwd-inner-login{

  .login-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }


  button{
    border-radius: 8px;
    background: #FFB83E;
    color: #fff;
    border: none;
    padding: 6px 20px;
    font-size: 14px;
    height: fit-content;
    cursor: pointer;
  }
}
