.kwd-header{
  background: #fff;
  padding: 20px;

  .content-header{
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 1440px;
    margin: auto;

    .content-header-inner{
      flex: auto;
    }
  }
}
