.content_donations_principal{
    width: 100%;
    
    position: relative;
    margin-top: 3.75rem;

    display: flex;
    flex-direction: row;
    
    text-align: center;


    img{
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 460px;

        @media (max-width: 768px){
            height: 226px;
        }
    }

    .donation_content_info{
        width: 100%;
        max-width: 810px;
        margin: 5rem auto;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 999;

        @media (max-width: 1460px){
            margin: 1rem auto;
        }

        .donations_title_banner{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            padding: 0;
    
            &::before{
                content: '';
                width: 82px;
                height: 82px;
                background: url(../../../assets/icons/icon-donations.svg);
                background-repeat: no-repeat;
                background-size: contain;
                display: block;
                
                @media (max-width: 768px){
                    width: 45px;
                    height: 45px;
                }
            }
    
            h1{
                font-family: 'Poppins';
                font-weight: 700;
                font-size: 2.75rem;
                text-transform: uppercase;
                color: #181818;

                @media (max-width: 768px){
                    font-size: 1.375rem;
                }
    
                &::after{
                    content: '';
                    height: 1px;
                    width: 210px;
                    border: 1px solid #FFB83E;
                    display: block;
                    margin: 10px 4px;

                    @media (max-width: 768px){
                        width: 110px;
                        margin: 7px 4px;
                    }
                }
            }
        }
    
        .donations_txt_banner{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
    
            p{
                width: 804px;
    
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 1.5rem;
                letter-spacing: 0.92px;
                color: #373737;
                text-shadow: 0px 10px 10px #fff;
    
                margin: 2.94rem 0 3.5rem;

                @media (max-width: 768px){
                    width: 324px;

                    font-size: 1rem;
                    letter-spacing: 0.6px;
                    
                    margin: 1rem 0 ;
                }
            }
        }
    
        .donations_button_content{
            button{
                background-color: #FFB83E;
                border: unset;
                padding: 9px 34px;
                border-radius: 8px;

                font-family: 'Poppins';
                font-weight: 600;
                font-size: 1.5rem;
                text-transform: capitalize;
                
                color: #fff;

                @media (max-width: 768px){
                    padding: 6px 24px;

                    font-size: 1rem;
                }
            }
        }

    }

    
}