.content_donations_principal{
    width: 100%;
    
    position: relative;
    margin-top: 3.75rem;

    display: flex;
    flex-direction: row;
    
    text-align: center;


    img{
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 460px;
    }

    .donation_content_info{
        width: 100%;
        max-width: 810px;
        margin: 5rem auto;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 999;

        .donations_title_banner{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            padding: 0;
    
            &::before{
                content: url(../../../assets/icons/icon-donations.svg);
                display: block;
    
            }
    
            h1{
                font-family: 'Poppins';
                font-weight: 700;
                font-size: 2.75rem;
                text-transform: uppercase;
                color: #181818;
    
                &::after{
                    content: '';
                    height: 1px;
                    width: 210px;
                    border: 1px solid #FFB83E;
                    display: block;
                    margin: 10px 4px;
                }
            }
        }
    
        .donations_txt_banner{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
    
            p{
                width: 804px;
    
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 1.5rem;
                letter-spacing: 0.92px;
                color: #373737;
                text-shadow: 0px 10px 10px #fff;
    
                margin: 2.94rem 0 3.5rem;
            }
        }
    
        .donations_button_content{
            button{
                background-color: #FFB83E;
                border: unset;
                padding: 9px 34px;
    
                font-family: 'Poppins';
                font-weight: 600;
                font-size: 1.5rem;
                text-transform: capitalize;
    
                color: #fff;
            }
        }

    }

    
}