// styles card tip
.cardtip-main-tip {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1000px) {
    flex-direction: column;

    padding: 0 1.5rem;
  }

  .cardtip-box-description {
    padding-right: 5rem;
    width: 450px;

    @media (max-width: 1000px) {
      padding-right: 0;
      width: 100%;
    }

    .cardtip-emph-txt {
      font-family: 'Poppins';
      font-weight: 600;
      font-size: 1rem;
      color: #FFB83E;
      text-transform: uppercase;
      letter-spacing: 3.2px;
    }

    .cardtip-title {
      font-family: 'Poppins';
      color: #181818;
      margin-bottom: 1.25rem;
    }

    .cardtip-emph-description {
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 0.9375rem;
      color: #8C8C8C;
    }

    .cardtip-emph-signature {
      font-family: 'Pacifico';
      font-weight: 400;
      font-size: 1.5rem;
      color: #181818;
    }

  }

  .cardtip-box-images {
    img {
      @media (max-width: 1000px) {
        width: 100%;
      }
    }
  }

  .desktop-devices {
    @media (max-width: 1000px) {
      display: none;
    }
  }

  .mobile-devices {
    display: none;

    @media (max-width: 1000px) {
      display: block;
      margin-bottom: 2.5rem;
    }
  }
}

// styles card Events
.mainCardsEvents {
  display: flex;
  gap: 1.5rem;
  position: relative;

  @media (max-width: 768px) {
    gap: 8px;
  }

  .cardEventContextInfo {
    text-align: center;

    .cardInfoDate {

      .cardInfoDateDay {
        background: #F2F0EC;
        padding: 0.625rem 1.25rem 0.5rem;

        font-family: 'Poppins';
        font-weight: 600;
        font-size: 1.75rem;
        color: #181818;
        margin: 0;

        @media (max-width: 768px) {
          font-size: 1.375rem;
          padding: 0.5rem 0.75rem;
        }
      }

      .cardInfoDateMonth {
        background: #4A4A4A;

        font-family: 'Poppins';
        font-weight: 600;
        font-size: 0.875rem;
        color: #FFFFFF;
        margin: 0;

        @media (max-width: 768px) {
          font-size: 0.625rem;
        }
      }
    }

    .cardInfoMedias {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-top: 30px;

      .facebook-fab {
        margin-left: 8px;

        &::after {
          content: "";
          display: block;
          -webkit-mask-image: url(../../assets/icons/facebook-cl.svg);
          mask-image: url(../../assets/icons/facebook-cl.svg);
          mask-repeat: no-repeat;
          -webkit-mask-repeat: no-repeat;
          mask-size: contain;
          -webkit-mask-size: contain;
          background-color: #4A4A4A;
          height: 26px;
          width: 26px;
        }
      }

      .instagram-in {
        &::after {
          content: "";
          display: block;
          -webkit-mask-image: url(../../assets/icons/instagram-cl.svg);
          mask-image: url(../../assets/icons/instagram-cl.svg);
          mask-repeat: no-repeat;
          -webkit-mask-repeat: no-repeat;
          mask-size: contain;
          -webkit-mask-size: contain;
          background-color: #4A4A4A;
          height: 26px;
          width: 26px;
        }
      }
    }
  }

  .card {
    border: none;

    .card-body {
      padding: 0;

      .card-title {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 1.75rem;
        color: #181818;
        text-transform: uppercase;

        margin: 0;
      }

      .card-text {
        font-family: 'Poppins';
        font-size: 0.875rem;
        letter-spacing: 0.84px;
        color: #8c8c8c;
        margin-top: 1.125rem;
      }

      .card-link {
        background: #ADADAD;
        padding: 0.5rem 1.5rem;
        color: #fff;
        text-decoration: none;
        float: right;
        clear: both;
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
        transition: 1s;

        &:hover {
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        }
      }

      span {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 0.875rem;
        color: #FFB83E;
        text-transform: uppercase;

        display: block;
        margin-bottom: 1rem;
      }

      .flickerRegister {
        -webkit-animation: blink-2 3s ease-in-out infinite both;
        animation: blink-2 3s ease-in-out infinite both;
        color: #FF6F27;
      }
    }

    .card-img-bottom {
      max-height: 345px;
      object-fit: cover;
      border-radius: 6px;
    }
  }

  .BackdropUnavailable {
    position: absolute;
    width: 103%;
    margin-left: -6px;
    margin-top: -4px;
    height: 102%;
    background: #59595900;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.75rem;
    font-weight: 600;
    text-shadow: 2px 2px 3px #000000;
  }
}


@-webkit-keyframes blink-2 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink-2 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}
