.kwd-content-ministry {
    .content-card-inner {
        align-items: center;
        justify-content: center;

        .inner-card-info {
            flex: 1;
            padding: 0 8rem;

            .card-inner-title {
                max-inline-size: 14rem;
                text-transform: uppercase;
                font-weight: 600;

            }

            .card-inner-text{
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 0.84px;
                color: #8C8C8C;
            }
        }
        .inner-card-info::before {
            content: 'GRUPO';
            font-size: 13px;
            color: #FFB83E;
            font-weight: 600;
            letter-spacing: 2.6px;
        }

        .inner-card-info::after{
            content: '';
            display: block;
            width: 177px;
            height: 2px;
            background-color: #FFB83E;
            border: 1px solid #FFB83E;
            margin-top: 20px;
        }

        .bg-cards-inner {
            flex: 1;

            img {
                width: 42.2rem;
                height: 26.5rem;
            }
        }
    }
}