.eventsHeaderSection {
  background: #F9F9F9;
  padding: 1.5rem;

  @media (max-width: 768px) {
    padding: 1rem;
  }

  .contentHeaderTxt {
    width: fit-content;
    margin: auto;
    text-align: center;

    .contentSpanTxt {
      font-family: 'Poppins';
      font-weight: 600;
      font-size: 0.875rem;
      letter-spacing: 2.8px;
      color: #FFB83E;
      text-transform: uppercase;

      @media (max-width: 768px) {
        font-size: 0.625rem;
      }
    }

    .contentTitleHeader {
      font-family: 'Poppins';
      font-weight: 600;
      color: #181818;
      text-transform: uppercase;

      @media (max-width: 768px) {
        font-size: 1.125rem;
      }
    }
  }
}

.mainCardsEvents{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;

  margin: 3.5rem 0;

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
